p {
  font-family: Roboto, Arial;
  margin: 0px;
}
.thumbnail {
  width: 300px;
  display: block;
  margin-bottom: 12px;
}

.video-preview {
  width: 300px;
}

.channel-profile {
  width: 40px;
  vertical-align: top;
  margin-right: 12px;
  display: inline-block;
}

.channel-picture {
  width: 100%;
  display: inline-block;
  border-radius: 50px;
}

.video-info {
  width: 240px;
  display: inline-block;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
}

.video-author {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(96, 96, 96);
}

.video-stats {
  font-size: 12px;
  margin-top: 4px;
  color: rgb(96, 96, 96);

}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  fle
}